<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mvbug.spider.project.wordpress.mapper.WpTermsMapper">

    <select id="findTerms"  resultType="int">
        SELECT count(*) FROM wp_terms WHERE NAME=#{name}
    </select>



</mapper>